<section class="card bg-light border-light m-auto p-3" style="max-width: 45rem">
  <div class="card-body mb-1">
    
    <h1 class="mb-5">New Post</h1>

    <%= render 'form', post: @post %>

  <div class="d-flex justify-content-center">
    <%= link_to 'Back', posts_path, class: 'text-muted' %>
  </div>
  </div>

